.CheckList {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  border-radius: 4px;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 5px 12px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.11);

  /*
   * if this were a more complex component
   * we would need a more precise selector
   * tag name will be enough for this case
   */
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  button[type=submit] {
    margin: 64px 16px 12px;
    color: white;
    background: rgba(17, 97, 92, 1);

    &[disabled] {
      opacity: 0.5;
    }
  }
}
